* {
    font-family: 'Work Sans';
    box-sizing: border-box;
    margin: 0px;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    width: auto;
    line-height: 25px;
}

/* Header Navigation Section styles from Here */

.navigation-section {
    display: flex;
    justify-content: space-around;
    align-content: center;
    max-width: 1920px;
    height: 120px;

}

.logo-column {
    display: flex;
    align-items: center;
}

.logo-column img {
    width: 40px;
    height: 30px;
}

.logo-text {
    font-size: 40px;
    font-weight: 700;
    color: #0B0223;
    margin-left: 10px;
}

.logo-font {
    color: #ff42a5;
}

.nav-column,
.nav-items {
    display: flex;
    align-items: center;
}

.nav-items a {
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
    margin-right: 20px;
    text-decoration: none;
}

.nav-btn {
    font-size: 18px;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    border: 0px;
    background-color: rgba(11, 2, 35, 0.10);
}

.nav-btn>.fa-brands {
    margin: 0px 10px;
    font-size: 20px;
    align-items: center;
}

/* Header Navigation Section styles ends from Here */

.header-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1920px;
    background-image: url("/images/Group-14.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;
    margin: 0px auto;
}

.play-like {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 4px 0px;
}

.header-contents h1 {
    width: 100%;
    font-size: 69px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 4px 0px;
}

.goat-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-image img {
    width: 400px;
    height: 450px;
}

.play-like-list {
    padding: 20px;

}

.header-contents ul li {
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    list-style: none;
    text-align: start;
    margin: 0px;
}

.header-contents>ul>li>.fa-solid,
.fa-sharp {
    margin-right: 10px;
    font-size: 20px;
}

.header-banner-btn, #btn-2 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 30px;
    margin-right: 10px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: 0px;
}

#btn-2{
    background: #4EC5F7;
}


































/* For Mobile View */

@media screen and (min-width:375px) and (max-width:426px) {

    .navigation-section,
    .nav-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
    }

    .navigation-section {
        height: 200px;
    }

    .nav-items a {
        margin: 5px 0px;
    }

    .header-contents {
        margin-top: 50px;
    }

    .header-banner {
        flex-direction: column-reverse;
        background-position: bottom;
        background-size: 100%;
    }


}


/* For Tablet View */

@media screen and (min-width:427px) and (max-width:768px){




}
